{
  "profile": {
    "CTF_PERSON_ID": "",
    "CTF_SPACE_ID": "",
    "CTF_CDA_ACCESS_TOKEN": ""
  },
  "blog": {
    "CTF_PERSON_ID": "",
    "CTF_SPACE_ID": "",
    "CTF_CDA_ACCESS_TOKEN": ""
  }
}
